
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 20px;

	&-logo {
		display: flex;
		align-items: center;

		img {
			max-width: 100%;
			width: 200px;
		}
  	}

	&__nav{
		display: flex;
		flex-direction: row;
		align-items: center;

		p {
			font-weight: bold;
			padding: 0 5px;
			margin-right: 10px;
		}

		a {
			font-weight: bold;
			color: #2c3e50;
		}

		span {
			margin-left: 4px;
		}

		&-item {
			text-decoration: none;
			margin-right: 0.5rem;
			padding-left: 5px;

			&:hover {
				text-decoration: underline;
			}

		}
	}
}


@media (max-width: 460px) {
	.header {
		flex-direction: column;

		&__nav {
			justify-content: center;
			flex-wrap: wrap;
			width: 80%;

			&-item {
				margin-top: -5px;
				margin-bottom: 5px;
				margin-left: 10px;
				margin-right: 10px;
				padding-left: 0;
				width: 100px;
			}
			p {
				margin-top: -5px;
				margin-bottom: 5px;
			}
		}
	}
}
@media (max-width: 340px) {
	.header {

		&__nav {
			flex-direction: column;

			&-item {
				margin-top: 0px;
			}
		}
	}
}
 
  
  

  

