.profile {
	flex: 1;
	padding-top: 20px;
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #bac0d1b2;

	.visibleButton {
		opacity: 1;
		height: 40px;
		z-index: 1;
	}
	.visible {
		opacity: 1;
		height: 100px;
	}

	.hidden {
		opacity: 0;
		height: 0px;
		overflow: hidden;
		z-index: -1000;
	}


	&__header {
		color: #000;

		h1 {
			margin-bottom: -5px;
		}

		&__edit-button {
			border: 2px solid #564be9b7;
			background-color: #fff;
			color: #392ecf;
			font-weight: bold;
			border-radius: 5px;
			padding: 10px;
			margin-top: 20px;
			margin-bottom: 50px;
			cursor: pointer;
		}
	}

	&__updateUser {
		width: 450px;
		height: 200px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: -45px;
		transition: all 0.3s ease;

		.close {
			position: fixed;
			top: 10px;
			right: 8px;
			border-radius: 50%;
			border: 1px solid black;
			width: 15px;
			height: 15px;
			font-size: 12px;
			cursor: pointer;
		}

		&__input-wrapper {
			width: 50%;
			padding: 0 7px;

			input {
				height: 40px;
				color: #9ca0b1;
				border: 2px solid #9ca0b1;
				border-radius: 3px;
				width: 100%;
				outline: none;
				padding-left: 5px;
				font-size: 0.95rem;
			}
		}

		&__confirmButton {
			margin: 0 7px;
			font-size: 0.85rem;
			font-weight: bold;
			width: 30%;
			height: 30px;
			border-radius: 5px;
			border: 2px solid #564be9b7;
			background-color: #fff;
			color: #392ecf;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
		}
	}

	&__account {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border: 1px solid black;
		background-color: #fff;
		width: 80%;
		margin: 0 auto;
		flex-direction: column;
		padding: 1.5rem;
		box-sizing: border-box;
		text-align: left;
		margin-bottom: 2rem;
		margin-top: 1rem;

		&-title {
			margin: 0;
			padding: 0;
			font-size: 1rem;
			font-weight: normal;
		}

		&__content__wrapper {
			width: 100%;
			flex: 1;
  		}

		&__amount {
			margin: 0;
			font-size: 2.5rem;
			font-weight: bold;

			&-description {
				margin: 0;
			}
		}

		&__transaction-button {
			display: block;
			width: 100%;
			padding: 8px;
			font-size: 1.1rem;
			margin-top: 1rem;
			border-radius: 5px;
			background-color: #544bd8;
			color: #fff;
			border: none;
			cursor: pointer;
		}
	}
}

@media (min-width: 720px) {
	.profile__account {
	  	flex-direction: row;

		&__wrapper.cta {
			flex: 0;
		}

		&__transaction-button {
			width: 200px;
		}
	}
}
@media (max-width: 530px) {
	.profile__updateUser {
		width: 85%;
	}
}
  
	
  
	

  
  
  
  
 












  
